
RewriteEngine On
RewriteBase "/Estadias/"

# Página principal
RewriteRule ^$ frontend/index.php [R=302,L]

# Archivos PHP
RewriteCond %{REQUEST_URI} !^/Estadias/frontend/
RewriteRule ^([^/]+\.php)$ frontend/$1 [R=302,L]